@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerRegular.ttf") format("truetype"), url("/fonts/MullerRegular.woff") format("woff"), url("/fonts/MullerRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerMedium.ttf") format("truetype"), url("/fonts/MullerMedium.woff") format("woff"), url("/fonts/MullerMedium.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerBold.ttf") format("truetype"), url("/fonts/MullerBold.woff") format("woff"), url("/fonts/MullerBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype"), url("/fonts/Montserrat-Bold.woff") format("woff"), url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype"), url("/fonts/Montserrat-Medium.woff") format("woff"), url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/fonts/Montserrat-SemiBold.woff") format("woff"), url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype"), url("/fonts/Montserrat-Regular.woff") format("woff"), url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Muller;
  line-height: 140%;
}

body.lock {
  overflow: hidden;
}

a:hover {
  transition: color 0.4s ease 0s;
  color: #45A9E2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  padding: 0px 20px;
  max-width: 1256px;
  margin: 0px auto;
}

.mainscreen {
  background-color: #190F29;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
}

.mainscreen__nav {
  padding-top: 40px;
}

.mainscreen__content {
  display: flex;
}

.mainscreen__title {
  position: relative;
  font-family: Muller;
  line-height: 140%;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-top: 105px;
  width: 630px;
  z-index: 2;
}

.mainscreen__subtitle {
  font-family: Montserrat;
  line-height: 140%;
  margin-top: 15px;
  color: #B5AFBF;
  font-size: 20px;
}

.mainscreen__img img {
  object-fit: cover;
  margin-top: 100px;
  margin-bottom: 180px;
}

@media (max-width: 1000px) {
  .mainscreen__title {
    font-size: 50px;
  }
  .mainscreen__information {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .mainscreen__title {
    font-size: 40px;
  }
  .mainscreen__subtitle {
    font-size: 17px;
    max-width: 70%;
  }
  .menu__icon {
    z-index: 7;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    align-self: center;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
    opacity: 0;
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(45deg);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(-45deg);
  }
  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu__body {
    align-self: center;
  }
  .menu__body {
    z-index: 6;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 13, 32, 0.98);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  font-family: Muller;
  line-height: 140%;
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
}

.nav__menu li:not(:first-child) {
  margin-left: 50px;
}

.nav__menu li:last-child {
  color: #45A9E2;
  margin-left: 100px;
}

@media (max-width: 900px) {
  .nav__menu {
    font-size: 17px;
  }
  .nav__menu li:not(:first-child) {
    margin-left: 30px;
  }
  .nav__menu li:last-child {
    color: #45A9E2;
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .nav__menu {
    flex-direction: column;
    align-items: center;
  }
  .nav__menu li {
    margin-top: 30px;
  }
  .nav__menu li:not(:first-child) {
    margin-left: 0px;
  }
  .nav__menu li:last-child {
    color: #45A9E2;
    margin-left: 0px;
  }
  .nav__menu a {
    font-size: 24px;
  }
}

.menu-icon a {
  position: relative;
}

.menu-icon span::before {
  display: inline-block;
  position: absolute;
  content: '';
  background: url(/img/calling.svg);
  width: 24px;
  height: 24px;
  top: -3px;
  left: -30px;
}

.button {
  margin-top: 50px;
  width: 120px;
  height: 120px;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(#190F29, #190F29), linear-gradient(26.57deg, #E7138A 0.3%, #902A8B 18.66%, #65318D 41.93%, #3860AC 67.63%, #2AA7DF 100.08%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  box-shadow: 14px 4px 13px rgba(15, 1, 27, 0.46);
  transition: all 0.6s ease 0.1s;
}

.button a {
  padding: 40px;
  opacity: 80%;
  display: inline;
  position: absolute;
  font-size: 17px;
  color: #FFFFFF;
  font-family: Muller;
  line-height: 140%;
  text-transform: uppercase;
  top: 10%;
  left: 10%;
  transition: all 0.6s ease 0.1s;
}

.button:hover {
  border: double 8px transparent;
  background-image: linear-gradient(#0e071a, #0e071a), linear-gradient(26.57deg, #E7138A 0.3%, #902A8B 18.66%, #65318D 41.93%, #3860AC 67.63%, #2AA7DF 100.08%);
  transform: translateX(10px);
}

.button:hover a {
  opacity: 100%;
}

.mainscreen__button a {
  width: 300px;
}

.bg-gradient {
  background: linear-gradient(167.12deg, #ECF2F4 -1.44%, #F3F4EC 23.93%, #EDE6F8 47.23%, #F3F0F3 72.6%, #F7F7F7 97.97%);
  padding-bottom: 20px;
}

.about__pretitle {
  opacity: 50%;
  padding-top: 70px;
  font-family: Muller;
  line-height: 140%;
  font-size: 20px;
  color: #514760;
  position: relative;
  margin-left: 20px;
}

.about__pretitle ::before {
  content: '';
  background: url(/img/location.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
}

.about__title {
  color: #190F29;
}

.about__information {
  display: flex;
  margin-top: 40px;
}

.about__subtitle {
  flex: 1 0 50%;
  font-family: Montserrat;
  line-height: 140%;
  font-weight: 500;
  font-size: 22px;
  color: #190F29;
}

.about__text {
  margin-left: 50px;
  flex: 1 1 50%;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 17px;
  color: #514760;
}

.about__advantages {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}

.about__advantages-items {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.about__advantages-item {
  flex: 1 1 31%;
  display: flex;
  flex-direction: column;
}

.about__advantages-gradient {
  width: 180px;
  height: 180px;
  background: linear-gradient(26.57deg, #E7138A 0.3%, #902A8B 18.66%, #65318D 41.93%, #3860AC 67.63%, #2AA7DF 100.08%);
  z-index: 3;
  position: relative;
  border-radius: 50%;
  transform: translateX(40px);
}

.about__advantages-number span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 30px;
  color: #45A9E2;
  font-weight: 700;
  position: absolute;
  z-index: 5;
  transform: translateY(-160px);
  box-shadow: 14px 4px 13px rgba(15, 51, 63, 0.26);
}

.about__advantages-title {
  margin-top: 25px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 24px;
  color: #190F29;
  font-weight: bold;
  text-transform: uppercase;
}

.about__advantages-subtitle {
  margin-top: 5px;
  width: 394px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 17px;
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
  .about__advantages-title {
    font-size: 20px;
  }
  .about__advantages-items {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  .about__advantages-item {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .about__subtitle {
    font-size: 17px;
  }
  .about__information {
    margin-top: 20px;
  }
  .about__pretitle {
    font-size: 15px;
  }
  .about__text {
    font-size: 15px;
  }
  .about__advantages-title {
    font-size: 17px;
  }
}

.title {
  font-family: Muller;
  line-height: 140%;
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.services__wrapper {
  background: #190F29;
  max-width: 1718px;
  margin: 0 auto;
  padding: 100px 0px 40px 0px;
}

.services__title {
  color: #FFFFFF;
}

.services__items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  flex: 0 43.3%;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.services__top {
  display: flex;
}

.services__item-name {
  flex: 0 0 55%;
  font-family: Montserrat;
  line-height: 140%;
  font-weight: bold;
  margin-right: 20px;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.services__subtitle {
  margin-top: 15px;
  max-width: 548px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 20px;
  color: #B5AFBF;
}

.services__button {
  padding: 0px;
  margin-top: 0px;
}

@media (max-width: 1000px) {
  .services__items {
    flex-direction: column;
  }
  .services__item {
    margin-bottom: 60px;
  }
  .services__subtitle {
    margin-top: -25px;
  }
}

@media (max-width: 768px) {
  .services__items {
    margin-top: 30px;
  }
  .services__item-name {
    font-size: 20px;
  }
  .services__subtitle {
    font-size: 17px;
    max-width: 60%;
  }
  .services__button {
    margin-left: 60px;
  }
}

.getintouch__wrapper {
  background-color: #190F29;
  background-image: url(/img/bg_getintouch.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1718px;
  margin: 0 auto;
  padding-bottom: 100px;
  position: relative;
}

.getintouch__content {
  display: flex;
}

.getintouch__form {
  flex: 0 0 550px;
  background: linear-gradient(26.57deg, rgba(231, 19, 138, 0.1) 0.3%, rgba(144, 42, 139, 0.1) 18.66%, rgba(101, 49, 141, 0.1) 41.93%, rgba(56, 96, 172, 0.1) 67.63%, rgba(42, 167, 223, 0.1) 100.08%);
  border: 4px solid #45a9e2;
  box-shadow: 14px 4px 13px 0px rgba(15, 51, 63, 0.26);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 550px;
  height: 550px;
  border-radius: 500px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getintouch .img-form {
  position: absolute;
}

.getintouch__right {
  margin-left: 100px;
  margin-top: 100px;
}

.getintouch__title {
  width: 426px;
  color: #FFFFFF;
}

.getintouch__subtitle {
  margin-top: 20px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 20px;
  color: #B5AFBF;
}

.getintouch__subtitle span {
  color: #45A9E2;
}

@media (max-width: 1200px) {
  .getintouch__content {
    flex-direction: column;
  }
  .getintouch__form {
    order: 2;
    margin-top: 40px;
    align-self: center;
  }
  .getintouch__right {
    order: 1;
    margin-top: 0px;
    margin-left: 0px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form .input {
  width: 350px;
  height: 45px;
  background-color: transparent;
  border-bottom: 2px solid #45A9E2;
  font-size: 17px;
  font-family: Montserrat;
  line-height: 140%;
  color: #FFFFFF;
  padding: 5px 15px;
  margin-bottom: 30px;
}

.checkbox__items {
  width: 270px;
  display: flex;
}

.checkbox__items .checkbox {
  margin-top: 5px;
}

.checkbox__label {
  margin-left: 5px;
  font-size: 17px;
  font-family: Montserrat;
  line-height: 140%;
  color: #514760;
  margin-bottom: 40px;
}

.checkbox__label .link {
  color: #45A9E2;
}

.big-button {
  position: absolute;
  bottom: -50%;
  right: -50%;
  width: 160px;
  height: 160px;
}

.big-button a {
  display: inline;
  font-size: 17px;
  color: #FFFFFF;
  font-family: Muller;
  line-height: 140%;
  text-transform: uppercase;
  transition: all 0.6s ease 0.1s;
  top: 20%;
  left: 10%;
  width: 250px;
}

.big-button a ::before {
  content: '';
  background-image: none;
}

.big-button:hover {
  border: double 8px transparent;
  background-image: linear-gradient(#0e071a, #0e071a), linear-gradient(26.57deg, #E7138A 0.3%, #902A8B 18.66%, #65318D 41.93%, #3860AC 67.63%, #2AA7DF 100.08%);
  transform: translateX(10px);
}

.big-button:hover span {
  opacity: 100%;
}

.clients__wrapper {
  max-width: 1718px;
  margin: 100px auto;
  border: 4px solid #FFFFFF;
}

.clients__content {
  padding: 80px 0px;
}

.clients__rightside {
  flex: 0 0 50%;
}

.clients__biglogo {
  filter: drop-shadow(13px 2px 20px rgba(48, 19, 48, 0.22));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients__biglogo img {
  width: 250px;
  height: 250px;
  border: 4px solid #45A9E2;
  border-radius: 50%;
}

.clients__description {
  margin-top: 20px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 20px;
  font-weight: 600;
  max-width: 350px;
  text-align: center;
  color: #190F29;
}

.clients__information {
  display: flex;
}

.clients__title {
  color: #190F29;
}

.clients__subtitle {
  margin-top: 40px;
  font-family: Montserrat;
  line-height: 140%;
  width: 554px;
  font-weight: 500;
  font-size: 22px;
  color: #514760;
}

.clients__text {
  margin-top: 20px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 17px;
  color: #514760;
}

.clients__items {
  margin-top: 50px;
  display: flex;
}

.clients__smalllogo img {
  width: 120px;
  height: 120px;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 25px;
  transition: all 0.8s ease 0s;
  cursor: pointer;
}

.clients .small-img--active {
  border: 4px solid #45A9E2;
}

@media (max-width: 1220px) {
  .clients__information {
    flex-direction: column;
  }
  .clients__rightside {
    flex: 0 0 30%;
  }
  .clients__items {
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;
  }
}

@media (max-width: 486px) {
  .mainscreen__button {
    margin-bottom: 80px;
  }
  .mainscreen__img {
    display: none;
  }
  .mainscreen__title {
    font-size: 28px;
  }
  .mainscreen__title h1 {
    width: 310px;
  }
  .mainscreen__subtitle {
    width: 320px;
  }
  .title {
    font-size: 24px;
  }
  .clients__subtitle,
  .getintouch__subtitle,
  .services__item-name,
  .about__advantages-title {
    font-size: 17px;
  }
  .services__item {
    flex-direction: column;
  }
  .services__subtitle {
    display: none;
  }
  .services__top {
    align-items: center;
  }
  .services__item-name {
    align-self: center;
  }
  .button {
    width: 100px;
    height: 100px;
  }
  .button a {
    position: relative;
    font-size: 15px;
    left: 0;
  }
  .mainscreen__button a {
    display: inline-block;
    width: 300px;
    padding: 0px;
    left: 0;
  }
  .big-button {
    width: 160px;
    height: 160px;
    top: 80%;
    left: 50%;
  }
  .big-button a {
    display: inline-block;
    position: relative;
  }
  .checkbox__label,
  input {
    font-size: 15px;
  }
}

.footer {
  background-color: #190F29;
  background-image: url(/img/bgcircle_footer.png);
  background-repeat: no-repeat;
  background-position: 70% 40%;
}

.footer__content {
  padding: 90px 0px 20px 0px;
  display: flex;
  align-items: center;
}

.footer__services {
  display: flex;
  flex-direction: column;
  flex: 1 0 30.8%;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: #B5AFBF;
  font-family: Montserrat;
  line-height: 140%;
}

.footer__links a {
  margin-bottom: 40px;
  transition: all 0.8s ease 0s;
}

.footer__links :hover {
  color: #45A9E2;
}

.footer__contacts {
  flex: 0 0 56.7%;
}

.footer__phone {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 3px solid #24143D;
}

.footer__phone-title {
  flex: 0 0 40%;
  font-size: 20px;
  font-weight: 500;
  color: #B5AFBF;
  font-family: Montserrat;
  line-height: 140%;
}

.footer__phone-number {
  color: #FFFFFF;
  flex: 0 0 60%;
  font-size: 3rem;
  font-weight: bold;
}

.footer__leftside {
  position: relative;
}

.footer__address {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.footer__address-title {
  font-size: 20px;
  flex: 0 0 40%;
  font-weight: 500;
  color: #B5AFBF;
  font-family: Montserrat;
  line-height: 140%;
}

.footer__address-text {
  font-size: 22px;
  font-weight: bold;
  flex: 0 0 60%;
  color: #FFFFFF;
}

.footer__email {
  display: flex;
  align-items: center;
}

.footer__email-title {
  font-size: 20px;
  flex: 0 0 40%;
  font-weight: 500;
  color: #B5AFBF;
  font-family: Montserrat;
  line-height: 140%;
}

.footer__email-text {
  font-size: 22px;
  font-weight: bold;
  flex: 0 0 60%;
}

.footer__email-text a {
  color: #45A9E2;
}

.footer__qr img {
  position: absolute;
  right: 0;
  top: 20%;
  border-radius: 10px;
}

.footer__copyright {
  font-size: 15px;
  font-weight: 500;
  color: #514760;
  font-family: Montserrat;
  line-height: 140%;
  padding-bottom: 80px;
}

@media (max-width: 1200px) {
  .footer__content {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__links {
    flex: 1 1 13%;
  }
  .footer__contacts {
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer__phone-title,
  .footer__address-title,
  .footer__address-text,
  .footer__email-title,
  .footer__email-text {
    font-size: 17px;
  }
  .footer__copyright {
    margin-top: 20px;
    font-size: 10px;
  }
  .footer__phone-number {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .footer__services,
  .footer__phone,
  .footer__email,
  .footer__address {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__phone-title,
  .footer__email-title,
  .footer__address-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 486px) {
  .footer__phone-title,
  .footer__email-title,
  .footer__address-title {
    margin-bottom: 20px;
  }
  .footer__qr img {
    margin-top: 20px;
    position: relative;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(80.59deg, #190F29 5.71%, #1c0f29 40.24%, #290f26 65.36%, #29150f 103.37%);
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 19;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.close-popup {
  position: absolute;
  opacity: 1;
  visibility: visible;
  align-self: flex-start;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  right: 45%;
  top: 20px;
  z-index: 15;
}

.close-popup .svg:hover {
  transition: all 0.4s ease 0s;
  transform: scale(1.4);
}

.getintouch--popup__wrapper {
  display: flex;
  margin: 0 auto;
  position: fixed;
  top: 10%;
  left: 10%;
}

.getintouch--popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getintouch--popup__form {
  flex: 0 0 550px;
  background: linear-gradient(26.57deg, rgba(231, 19, 138, 0.1) 0.3%, rgba(144, 42, 139, 0.1) 18.66%, rgba(101, 49, 141, 0.1) 41.93%, rgba(56, 96, 172, 0.1) 67.63%, rgba(42, 167, 223, 0.1) 100.08%);
  border: 4px solid #45a9e2;
  box-shadow: 14px 4px 13px 0px rgba(15, 51, 63, 0.26);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 550px;
  height: 550px;
  border-radius: 500px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getintouch--popup .img-form {
  position: absolute;
}

.getintouch--popup__right {
  margin-left: 140px;
  margin-top: 20px;
}

.getintouch--popup__title {
  width: 426px;
  color: #FFFFFF;
}

.getintouch--popup__subtitle {
  margin-top: 20px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 20px;
  color: #B5AFBF;
}

.getintouch--popup__subtitle span {
  color: #45A9E2;
}

@media (max-width: 1200px) {
  .getintouch--popup__content {
    flex-wrap: wrap;
    padding-left: 0px;
    align-items: flex-start;
  }
  .getintouch--popup__right {
    margin-top: 80px;
    margin-left: 0px;
  }
  .big-button {
    right: 0%;
    bottom: -100%;
  }
  .close-popup {
    right: 0;
  }
}
