@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerRegular.ttf") format("truetype"), url("/fonts/MullerRegular.woff") format("woff"), url("/fonts/MullerRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerMedium.ttf") format("truetype"), url("/fonts/MullerMedium.woff") format("woff"), url("/fonts/MullerMedium.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerBold.ttf") format("truetype"), url("/fonts/MullerBold.woff") format("woff"), url("/fonts/MullerBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype"), url("/fonts/Montserrat-Bold.woff") format("woff"), url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype"), url("/fonts/Montserrat-Medium.woff") format("woff"), url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/fonts/Montserrat-SemiBold.woff") format("woff"), url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype"), url("/fonts/Montserrat-Regular.woff") format("woff"), url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Muller;
  line-height: 140%;
}

body.lock {
  overflow: hidden;
}

a:hover {
  transition: color 0.4s ease 0s;
  color: #45A9E2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  padding: 0px 20px;
  max-width: 1256px;
  margin: 0px auto;
}

.mainscreen {
  background-color: #190F29;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
}

.mainscreen__nav {
  padding-top: 40px;
}

.mainscreen__content {
  display: flex;
}

.mainscreen__title {
  position: relative;
  font-family: Muller;
  line-height: 140%;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-top: 105px;
  width: 630px;
  z-index: 2;
}

.mainscreen__subtitle {
  font-family: Montserrat;
  line-height: 140%;
  margin-top: 15px;
  color: #B5AFBF;
  font-size: 20px;
}

.mainscreen__img {
  margin-top: 100px;
  width: 800px;
  margin-bottom: 180px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  font-family: Muller;
  line-height: 140%;
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
}

.nav__menu li:not(:first-child) {
  margin-left: 50px;
}

.nav__menu li:last-child {
  color: #45A9E2;
  margin-left: 100px;
}

.menu-icon a {
  position: relative;
}

.menu-icon span::before {
  display: inline-block;
  position: absolute;
  content: '';
  background: url(/img/calling.svg);
  width: 24px;
  height: 24px;
  top: -3px;
  left: -30px;
}

.button {
  margin-top: 50px;
  width: 120px;
  height: 120px;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(#190F29, #190F29), linear-gradient(26.57deg, #E7138A 0.3%, #902A8B 18.66%, #65318D 41.93%, #3860AC 67.63%, #2AA7DF 100.08%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  box-shadow: 14px 4px 13px rgba(15, 1, 27, 0.46);
  transition: all 0.6s ease 0.1s;
}

.button span {
  opacity: 80%;
  display: inline;
  position: absolute;
  font-size: 17px;
  color: #FFFFFF;
  font-family: Muller;
  line-height: 140%;
  text-transform: uppercase;
  top: 35%;
  left: 50%;
  transition: all 0.6s ease 0.1s;
}

.button:hover {
  border: double 60px transparent;
  background-image: linear-gradient(#0e071a, #0e071a), linear-gradient(26.57deg, #E7138A 0.3%, #902A8B 18.66%, #65318D 41.93%, #3860AC 67.63%, #2AA7DF 100.08%);
  transform: translateX(10px);
}

.button:hover span {
  opacity: 100%;
}

.mainscreen__button span {
  width: 200px;
}

.bg-gradient {
  background: linear-gradient(167.12deg, #ECF2F4 -1.44%, #F3F4EC 23.93%, #EDE6F8 47.23%, #F3F0F3 72.6%, #F7F7F7 97.97%);
  padding-bottom: 20px;
}

.about__pretitle {
  opacity: 50%;
  padding-top: 70px;
  font-family: Muller;
  line-height: 140%;
  font-size: 20px;
  color: #514760;
  position: relative;
  margin-left: 20px;
}

.about__pretitle ::before {
  content: '';
  background: url(/img/location.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
}

.about__title {
  color: #190F29;
}

.about__information {
  display: flex;
  margin-top: 40px;
}

.about__subtitle {
  flex: 1 0 50%;
  font-family: Montserrat;
  line-height: 140%;
  font-weight: 500;
  font-size: 22px;
  color: #190F29;
}

.about__text {
  margin-left: 50px;
  flex: 1 1 50%;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 17px;
  color: #514760;
}

.about__advantages {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}

.about__advantages-item {
  flex: 1 1 31%;
  display: flex;
  flex-direction: column;
}

.about__advantages-gradient {
  width: 180px;
  height: 180px;
  background: linear-gradient(26.57deg, #E7138A 0.3%, #902A8B 18.66%, #65318D 41.93%, #3860AC 67.63%, #2AA7DF 100.08%);
  z-index: 3;
  position: relative;
  border-radius: 50%;
  transform: translateX(40px);
}

.about__advantages-number span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 30px;
  color: #45A9E2;
  font-weight: 700;
  position: absolute;
  z-index: 5;
  transform: translateY(-160px);
  box-shadow: 14px 4px 13px rgba(15, 51, 63, 0.26);
}

.about__advantages-title {
  margin-top: 25px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 24px;
  color: #190F29;
  font-weight: bold;
  text-transform: uppercase;
}

.about__advantages-subtitle {
  margin-top: 5px;
  width: 394px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 17px;
  margin-bottom: 100px;
}

.title {
  font-family: Muller;
  line-height: 140%;
  font-size: 50px;
  font-weight: bold;
}

.services__wrapper {
  background: #190F29;
  max-width: 1718px;
  margin: 0 auto;
  padding: 100px 0px 40px 0px;
}

.services__title {
  color: #FFFFFF;
}

.services__items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  flex: 0 43.3%;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.services__top {
  display: flex;
}

.services__item-name {
  flex: 0 0 55%;
  font-family: Montserrat;
  line-height: 140%;
  font-weight: bold;
  margin-right: 20px;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.services__subtitle {
  margin-top: 15px;
  max-width: 548px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 20px;
  color: #B5AFBF;
}

.services__button {
  padding: 0px;
  margin-top: 0px;
}

.getintouch__wrapper {
  background-color: #190F29;
  background-image: url(/img/bg_getintouch.png);
  background-repeat: no-repeat;
  max-width: 1718px;
  margin: 0 auto;
  padding-bottom: 100px;
  position: relative;
}

.getintouch__content {
  display: flex;
}

.getintouch__form {
  flex: 0 0 550px;
  background: linear-gradient(26.57deg, rgba(231, 19, 138, 0.1) 0.3%, rgba(144, 42, 139, 0.1) 18.66%, rgba(101, 49, 141, 0.1) 41.93%, rgba(56, 96, 172, 0.1) 67.63%, rgba(42, 167, 223, 0.1) 100.08%);
  border: 4px solid #45a9e2;
  box-shadow: 14px 4px 13px 0px rgba(15, 51, 63, 0.26);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 550px;
  height: 550px;
  border-radius: 500px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getintouch .img-form {
  position: absolute;
}

.getintouch__right {
  margin-left: 100px;
  margin-top: 100px;
}

.getintouch__title {
  width: 426px;
  color: #FFFFFF;
}

.getintouch__subtitle {
  margin-top: 20px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 20px;
  color: #B5AFBF;
}

.getintouch__subtitle span {
  color: #45A9E2;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form .input {
  width: 350px;
  height: 45px;
  background-color: transparent;
  border-bottom: 2px solid #45A9E2;
  font-size: 17px;
  font-family: Montserrat;
  line-height: 140%;
  color: #FFFFFF;
  padding: 5px 15px;
  margin-bottom: 30px;
}

.checkbox__items {
  width: 270px;
  display: flex;
}

.checkbox__items .checkbox {
  margin-top: 5px;
}

.checkbox__label {
  margin-left: 5px;
  font-size: 17px;
  font-family: Montserrat;
  line-height: 140%;
  color: #514760;
  margin-bottom: 40px;
}

.checkbox__label .link {
  color: #45A9E2;
}

.big-button {
  position: absolute;
  bottom: -50%;
  right: -50%;
  width: 160px;
  height: 160px;
}

.big-button span {
  display: inline;
  font-size: 17px;
  color: #FFFFFF;
  font-family: Muller;
  line-height: 140%;
  text-transform: uppercase;
  transition: all 0.6s ease 0.1s;
  top: 40%;
  left: 25%;
  width: 200px;
}

.big-button span ::before {
  content: '';
  background-image: none;
}

.big-button:hover {
  border: double 80px transparent;
  background-image: linear-gradient(#0e071a, #0e071a), linear-gradient(26.57deg, #E7138A 0.3%, #902A8B 18.66%, #65318D 41.93%, #3860AC 67.63%, #2AA7DF 100.08%);
  transform: translateX(10px);
}

.big-button:hover span {
  opacity: 100%;
}

.clients__wrapper {
  max-width: 1718px;
  margin: 100px auto;
  border: 4px solid #FFFFFF;
}

.clients__content {
  padding: 80px 0px;
}

.clients__rightside {
  flex: 0 0 50%;
}

.clients__biglogo {
  filter: drop-shadow(13px 2px 20px rgba(48, 19, 48, 0.22));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients__biglogo img {
  width: 250px;
  height: 250px;
  border: 4px solid #45A9E2;
  border-radius: 50%;
}

.clients__description {
  margin-top: 20px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 20px;
  font-weight: 600;
  max-width: 350px;
  text-align: center;
  color: #190F29;
}

.clients__information {
  display: flex;
}

.clients__title {
  color: #190F29;
}

.clients__subtitle {
  margin-top: 40px;
  font-family: Montserrat;
  line-height: 140%;
  width: 554px;
  font-weight: 500;
  font-size: 22px;
  color: #514760;
}

.clients__text {
  margin-top: 20px;
  font-family: Montserrat;
  line-height: 140%;
  font-size: 17px;
  color: #514760;
}

.clients__items {
  margin-top: 50px;
  display: flex;
}

.clients__smalllogo img {
  width: 120px;
  height: 120px;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 25px;
  transition: all 0.8s ease 0s;
}

.clients .small-img--active {
  border: 4px solid #45A9E2;
}

.footer {
  background-color: #190F29;
  background-image: url(/img/bgcircle_footer.png);
  background-repeat: no-repeat;
  background-position: 70% 40%;
}

.footer__content {
  padding: 90px 0px 20px 0px;
  display: flex;
  align-items: center;
}

.footer__services {
  display: flex;
  flex-direction: column;
  flex: 1 0 30.8%;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: #B5AFBF;
  font-family: Montserrat;
  line-height: 140%;
}

.footer__links a {
  margin-bottom: 40px;
}

.footer__links :hover {
  color: #45A9E2;
}

.footer__contacts {
  flex: 0 0 56.7%;
}

.footer__phone {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 3px solid #24143D;
}

.footer__phone-title {
  flex: 0 0 40%;
  font-size: 20px;
  font-weight: 500;
  color: #B5AFBF;
  font-family: Montserrat;
  line-height: 140%;
}

.footer__phone-number {
  color: #FFFFFF;
  flex: 0 0 60%;
  font-size: 48px;
  font-weight: bold;
}

.footer__leftside {
  position: relative;
}

.footer__address {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.footer__address-title {
  font-size: 20px;
  flex: 0 0 40%;
  font-weight: 500;
  color: #B5AFBF;
  font-family: Montserrat;
  line-height: 140%;
}

.footer__address-text {
  font-size: 22px;
  font-weight: bold;
  flex: 0 0 60%;
  color: #FFFFFF;
}

.footer__email {
  display: flex;
  align-items: center;
}

.footer__email-title {
  font-size: 20px;
  flex: 0 0 40%;
  font-weight: 500;
  color: #B5AFBF;
  font-family: Montserrat;
  line-height: 140%;
}

.footer__email-text {
  font-size: 22px;
  font-weight: bold;
  flex: 0 0 60%;
}

.footer__email-text a {
  color: #45A9E2;
}

.footer__qr img {
  position: absolute;
  right: 0;
  top: 20%;
  border-radius: 10px;
}

.footer__copyright {
  font-size: 15px;
  font-weight: 500;
  color: #514760;
  font-family: Montserrat;
  line-height: 140%;
  padding-bottom: 80px;
}
