// Файл обнуляющих стилей
@import "nullstyle.scss";

//== MIXINS

@font-face {
	font-family: 'Muller';
	src: url('/fonts/MullerRegular.ttf') format('truetype'),
		  url('/fonts/MullerRegular.woff') format('woff'),
		  url('/fonts/MullerRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }

 @font-face {
	font-family: 'Muller';
	src: url('/fonts/MullerMedium.ttf') format('truetype'),
		  url('/fonts/MullerMedium.woff') format('woff'),
		  url('/fonts/MullerMedium.woff2') format('woff2');
	font-weight: medium;
	font-style: normal;
 }

 @font-face {
	font-family: 'Muller';
	src: url('/fonts/MullerBold.ttf') format('truetype'),
		  url('/fonts/MullerBold.woff') format('woff'),
		  url('/fonts/MullerBold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
 }

 @font-face {
	font-family: 'Montserrat-Bold';
	src: url('/fonts/Montserrat-Bold.ttf') format('truetype'),
		  url('/fonts/Montserrat-Bold.woff') format('woff'),
		  url('/fonts/Montserrat-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }

 @font-face {
	font-family: 'Montserrat-Medium';
	src: url('/fonts/Montserrat-Medium.ttf') format('truetype'),
		  url('/fonts/Montserrat-Medium.woff') format('woff'),
		  url('/fonts/Montserrat-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }

 @font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype'),
		  url('/fonts/Montserrat-SemiBold.woff') format('woff'),
		  url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }

 @font-face {
	font-family: 'Montserrat-Regular';
	src: url('/fonts/Montserrat-Regular.ttf') format('truetype'),
		  url('/fonts/Montserrat-Regular.woff') format('woff'),
		  url('/fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
 }

@mixin main_font {
font-family: Muller;
line-height: 140%;
}

@mixin secondary_font {
font-family: Montserrat;
line-height: 140%;
}

//== COLORS
$dark: #190F29;
$blue: #45A9E2;
$white: #FFFFFF;
$light-blue: #C9E4F4;
$grey-purple: #B5AFBF;
$dark-purple: #514760;
$dark-blue: #28698D;
$gradient: linear-gradient(26.57deg, #E7138A 0.3%, #902A8B 18.66%, #65318D 41.93%, #3860AC 67.63%, #2AA7DF 100.08%);


body {
	@include main-font;
}

body.lock {
	overflow: hidden;
}


//====================


a:hover {
	transition: color 0.4s ease 0s;
	color: $blue;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
}

.container {
	padding: 0px 20px;
	max-width: 1256px;
	margin: 0px auto;
}


.mainscreen {
	background-color: $dark;
	background-image: url(/img/bg.png);
	background-repeat: no-repeat;
  &__nav {
	  padding-top: 40px;
  }
  &__content {
	  display: flex;
  }
  &__information {}
  &__title {
	  position: relative;
	  @include main_font();
	  font-weight: bold;
	  font-size: 60px;
	  line-height: 120%;
	  letter-spacing: 0.02em;
	  color: $white;
	  margin-top: 105px;
	  width: 630px;
	  z-index: 2;
  }
  &__subtitle {
	  @include secondary_font();
	  margin-top: 15px;
	  color: $grey-purple;
	  font-size: 20px;
  }
  &__button {}
  &__img img{
	object-fit: cover;
	  margin-top: 100px;
	//   width: 800px;
	  margin-bottom: 180px;
  }
}

@media (max-width: 1000px) {
	.mainscreen__title {
		font-size: 50px;
	}

	.mainscreen__information {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 768px) {
	.mainscreen__title {
		font-size: 40px;
		
	}

	.mainscreen__subtitle {
		font-size: 17px;
		max-width: 70%;
	}

	.menu__icon {
		z-index: 7;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		cursor: pointer;
		align-self: center;
	}
	
	.menu__icon._active span {
		transform: scale(0) translate(0, -50%);
		opacity: 0;
	}
	
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(45deg);
	}
	
	.menu__icon._active::after {
		top: 50%;
		transform: rotate(-45deg);
	}
	
	.menu__icon::before,
	.menu__icon::after,
	.menu__icon span {
		position: absolute;
		width: 100%;
		height: 10%;
		background-color: #fff;
		transition: all 0.3s ease 0s;
	}
	
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	
	.menu__icon::before {
		top: 0;
	}
	
	.menu__icon::after{
		bottom: 0;
	}
	
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}
	
	.menu__body{
		align-self: center;
	}
	
	.menu__body {
		z-index: 6;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(12, 13, 32, 0.98);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	
	.menu__body._active {
		left:0;
	}
	
}
 
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  &__logo {}
  &__menu {
	@include main_font();
	color: $white;
	font-size: 20px;
	display: flex;
	// a:not(:first-child
	li:not(:first-child) {
		margin-left: 50px;
	}
	li:last-child {
		color: $blue;
		margin-left: 100px;
	}
  }
}

@media (max-width: 900px) {
	.nav__menu {
		font-size: 17px;
		li:not(:first-child) {
			margin-left: 30px;
		}
		li:last-child {
			color: $blue;
			margin-left: 40px;
		}
	}
}

@media (max-width: 768px) {
	.nav__menu {
		flex-direction: column;
		align-items: center;
		li {
			margin-top: 30px;
		}

		li:not(:first-child) {
			margin-left: 0px;
		}
		li:last-child {
			color: $blue;
			margin-left: 0px;
		}
	}
	
	.nav__menu a {
		font-size: 24px;
	}
	
	

}







.menu-icon {
	a {position: relative;}
	span::before {
		display: inline-block;
		position: absolute;
		content: '';
		background: url(/img/calling.svg);
		width: 24px;
		height: 24px;
		top: -3px;
		left: -30px;

	}
}

.button {
	margin-top: 50px;
	width: 120px;
  height: 120px;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient($dark, $dark), 
                    $gradient;
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  box-shadow: 14px 4px 13px rgba(15, 1, 27, 0.46);
  transition: all 0.6s ease 0.1s;

  a {
	  padding: 40px;
	  opacity: 80%;
	  display: inline;
	  position: absolute;
	  font-size: 17px;
	  color: $white;
	  @include main_font();
	  text-transform: uppercase;
	  top: 10%;
	  left: 10%;
	  transition: all 0.6s ease 0.1s;
  }
	
}

.button:hover {
	border: double 8px transparent;
	background-image: linear-gradient(#0e071a, #0e071a),
                    $gradient;
	transform: translateX(10px);

	a {
		opacity: 100%;
	}
}

.mainscreen__button {
	a {
		width: 300px;
	}
}

.bg-gradient {
	background: linear-gradient(167.12deg, #ECF2F4 -1.44%, #F3F4EC 23.93%, #EDE6F8 47.23%, #F3F0F3 72.6%, #F7F7F7 97.97%);
	padding-bottom:20px;
}

.about {
  &__pretitle {
	  opacity: 50%;
	  padding-top: 70px;
	  @include main_font();
	  font-size: 20px;
	  color: $dark-purple;
	  position: relative;
	  margin-left: 20px;

	  ::before {
		  content: '';
		  background: url(/img/location.svg);
		  width: 24px;
		  height: 24px;
		  position: absolute;
		  left: -30px;
		  
	  }
  }

  &__title {
	  color: $dark;
  }
  &__information {
	  display: flex;
	  margin-top: 40px;
  }
  &__subtitle {
	  flex: 1 0 50%;
		@include secondary_font();
		font-weight: 500;
		font-size: 22px;
		color: $dark;
  }
  &__text {
	margin-left: 50px;
	flex: 1 1 50%;
	@include secondary_font();
	font-size: 17px;
	color: $dark-purple;

  }
  &__advantages {
	  margin-top: 110px;
	  display: flex;
	  justify-content: space-between;
	
  }

  &__advantages-items {
	  display: flex;
	  flex-wrap: wrap;
	  flex-shrink: 1;
  }
  &__advantages-item {
	//   :not(:last-child) {
	// 	  margin-right: 45px;
	// 	}
	  flex: 1 1 31%;
	  display: flex;
	  flex-direction: column;
  }

  &__advantages-gradient {
	width: 180px;
	height: 180px;
	background: $gradient;
	z-index: 3;
	position: relative;
	border-radius: 50%;
	transform: translateX(40px);
  }

  &__advantages-number {
	
	span {
		display: flex;
		justify-content: center;
		align-items: center ;
		background: $white;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		font-size: 30px;
		color: $blue;
		font-weight: 700;
		position: absolute;
		z-index: 5;
		transform: translateY(-160px);
		box-shadow: 14px 4px 13px rgba(15, 51, 63, 0.26);		
	}


}

  &__advantages-title {
	  margin-top: 25px;
	  @include secondary_font();
	  font-size: 24px;
	  color: $dark;
	  font-weight: bold;
	  text-transform: uppercase;

  }
  &__advantages-subtitle {
	  margin-top: 5px;
	  width: 394px;
	  @include secondary_font();
	  font-size: 17px;
	  margin-bottom: 100px;
  }
}

@media (max-width: 1000px) {
	.about__advantages-title {
		font-size: 20px;
	}

	.about__advantages-items{
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
	}

	.about__advantages-item {
		align-items: center;
		text-align: center
	}
}


@media (max-width: 768px) {
	.about__subtitle {
		font-size: 17px;
	}

	.about__information {
		margin-top: 20px;
	}

	.about__pretitle {
		font-size: 15px;
	}

	.about__text{
		font-size: 15px;
	}

	.about__advantages-title {
		font-size: 17px;
	}
}


.title {
	@include main_font();
	font-size: 50px;
	font-weight: bold;
}

@media (max-width: 768px) {
	.title {
		font-size: 32px;
	}
}

.services {
  &__wrapper {
	  background: $dark;
	  max-width: 1718px;
	  margin: 0 auto;
	  padding: 100px 0px 40px 0px;
  }
  &__title {
	  color:$white;
  }
  &__items {
		margin-top: 50px;
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap;
  }
  &__item {
	  flex: 0 43.3%;
	  display: flex;
	  flex-direction: column;
	  margin-bottom: 80px;
  }

  &__top {
	  display: flex;
	 
  }
  &__item-name {
	  flex: 0 0 55%;
	  @include secondary_font();
	  font-weight: bold;
	  margin-right: 20px;
		font-size: 24px;
		color: $white;
		text-transform: uppercase;
  }

  &__subtitle {
	  margin-top: 15px;
	  max-width: 548px;
	  @include secondary_font();
	  font-size: 20px;
	  color: $grey-purple;
  }

  &__button {
	padding: 0px;
	margin-top: 0px;
	
}
}

@media (max-width: 1000px) {
.services__items {
	flex-direction: column;
	}

 .services__item {
	margin-bottom: 60px;
 }

 .services__subtitle {
	margin-top: -25px;
 }
}

@media (max-width: 768px) {


	.services__items {
		margin-top: 30px;
	 }

	 .services__item-name {
		font-size: 20px;
	 }

	 .services__subtitle {
		font-size: 17px;
		max-width: 60%;
	 }

	 .services__button{
		 margin-left: 60px;
		 
	 }
	 
}
 
.getintouch {
	&__wrapper {
	  background-color: $dark;
	  background-image: url(/img/bg_getintouch.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  max-width: 1718px;
	  margin: 0 auto;
	//   padding: 80px 0px;
	padding-bottom: 100px;
	  position: relative;
	}
	&__content {
		display: flex;
		// flex-wrap: nowrap;
		// flex-grow: 0;
		// flex-shrink: 0;
	}
	&__form {
		flex: 0 0 550px;
		background: linear-gradient(26.57deg, rgba(231, 19, 138, 0.1) 0.3%, rgba(144, 42, 139, 0.1) 18.66%, rgba(101, 49, 141, 0.1) 41.93%, rgba(56, 96, 172, 0.1) 67.63%, rgba(42, 167, 223, 0.1) 100.08%);
		border: 4px solid rgba(69, 169, 226, 1);
		box-shadow: 14px 4px 13px 0px rgba(15, 51, 63, 0.26);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		width: 550px;
		height: 550px;
		border-radius: 500px;
		overflow: visible;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}
	.img-form {
	position: absolute;
	}

	&__right {
		margin-left: 100px;
		margin-top: 100px;
	}
	&__title {
		width: 426px;
		color:$white;

	}
	&__subtitle {
		margin-top: 20px;
		@include secondary_font();
		font-size: 20px;
		color: $grey-purple;

		span {
			color: $blue;
		}
	}
 }

 @media (max-width: 1200px) {
	.getintouch__content {
		flex-direction: column;
	}

	.getintouch__form {
		order: 2;
		margin-top: 40px;
		align-self: center;
	}

	.getintouch__right {
		order: 1;
		margin-top: 0px;
		margin-left: 0px;
	}
 }

.form {
	 display: flex;
	 flex-direction: column;
	 position: relative;

	 .input {
		width: 350px;
		height: 45px;
		background-color: transparent;
		border-bottom: 2px solid $blue;
		font-size: 17px;
		@include secondary_font();
		color: $white;
		padding: 5px 15px;
		margin-bottom: 30px;
	}
	&__name {
		
	}
	&__phone {}
	&__checkbox {}
}

 .label {
	 
 }

 .checkbox {
	
	&__items {
		width: 270px;
		display: flex;
		.checkbox {
			margin-top: 5px;
		}
	}
	&__input {
	}
	&__label {
		margin-left: 5px;
		font-size: 17px;
		@include secondary_font();
		color: $dark-purple;
		margin-bottom: 40px;
		.link {
			color: $blue;
		}
	}
 }
 
.big-button {
	position: absolute;
	bottom: -50%;
	right: -50%;
	width: 160px;
	height: 160px;
	a {
		display: inline;
		font-size: 17px;
		color: $white;
		@include main_font();
		text-transform: uppercase;
		transition: all 0.6s ease 0.1s;
		top: 20%;
		left: 10%;
		width: 250px;
		::before {
			content: '';
			background-image: none;
		}
	}
}

.big-button:hover {
	border: double 8px transparent;
		background-image: linear-gradient(#0e071a, #0e071a),
							  $gradient;
		transform: translateX(10px);
		span {
			opacity: 100%;
		}
}



.clients {

	&__wrapper {
	
	max-width: 1718px;
	margin: 100px auto;
	border: 4px solid #FFFFFF;
  }
  &__content {
	  padding: 80px 0px;
  }

	&__leftside {}
	&__rightside {
		flex: 0 0 50%;
	}
	&__biglogo {
		
		filter: drop-shadow(13px 2px 20px rgba(48, 19, 48, 0.22));
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			width: 250px;
			height: 250px;
			border: 4px solid $blue;
			border-radius: 50%;
		  }

	}
	&__description {
		
		margin-top: 20px;
		@include secondary_font();
		font-size: 20px;
		font-weight: 600;
		max-width: 350px;
		text-align: center;
		color: $dark;
	}

 .title {
 }
 

  &__information {
	display: flex;
	// justify-content: space-between;
  }
  &__title {
	  color: $dark;
  }
  &__subtitle {
	  margin-top: 40px;
	  @include secondary_font();
	  width: 554px;
	  font-weight: 500;
	  font-size: 22px;
	  color: $dark-purple;
  }
  &__text {
	  margin-top: 20px;
	  @include secondary_font();
	  font-size: 17px;
	  color: $dark-purple;

  }
  &__items {
	  margin-top: 50px;
	  display: flex;
  }
  &__smalllogo {
	  img {
		width: 120px;
		height: 120px;
		border: 4px solid $white;
		border-radius: 50%;
		margin-right: 25px;
		transition: all 0.8s ease 0s;
		cursor: pointer;
	  }  

  }


 .small-img--active {
	border: 4px solid $blue;
 }

}

@media (max-width: 1220px) {
	.clients__information {
		flex-direction: column;
	}

	.clients__rightside {
		flex: 0 0 30%;
	}

	.clients__items {
		flex-wrap: wrap;
		margin-bottom: 40px;
		justify-content: center ;
	}
}


@media (max-width: 486px) {
	.mainscreen__button  {
		margin-bottom: 80px;
	}
	.mainscreen__img {
		display: none;
	}

	.mainscreen__title {
		font-size: 28px;
		h1 {
			width: 310px;
		}
		}

		.mainscreen__subtitle {
			width: 320px;
		}

	.title {
		font-size: 24px;
	}

	.clients__subtitle,
	.getintouch__subtitle,
	.services__item-name,
	.about__advantages-title {
		font-size: 17px;
	}

	.services__item {
	flex-direction: column;
	}

	.services__subtitle {
		display: none;
	}

	.services__top {
		// flex-direction: column;
		align-items: center;
	}

	.services__item-name {
		align-self: center;
	}
	
	.button {
		width: 100px;
		height: 100px;
		a {
			position: relative;
			font-size: 15px;
			left:0;
		}
	}

	.mainscreen__button {
		a {
			display: inline-block;
			width: 300px;
			padding: 0px;
			left:0;
		}
	}

	.big-button {
		width: 160px;
		height: 160px;
		top: 80%;
		left: 50%;

		a {
			display: inline-block;
			position: relative;;
		}
	}

	.checkbox__label,
	input {
		font-size: 15px;
	}

}






.footer {
	background-color: $dark;
	background-image: url(/img/bgcircle_footer.png);
	background-repeat: no-repeat;
	background-position: 70% 40%;
  &__content {
	  padding: 90px 0px 20px 0px;
	  display: flex;
	  align-items: center;
	  
  }
  &__services {
	  display: flex;
	  flex-direction: column;
	  flex: 1 0 30.8%;
  }
  &__logo {
	  margin-bottom: 30px;
  }
  &__links {
	display: flex;
	flex-direction: column;
	font-size: 17px;
	color: $grey-purple;
	@include secondary_font();
	a {
		margin-bottom: 40px;
		transition: all 0.8s ease 0s;;
		
	}
	:hover {
		color: $blue;
	}


  }
  &__contacts {
	  flex: 0 0 56.7%;
	
	  
  }
  &__phone {
	  display: flex;
	  align-items: center;
	  padding-bottom: 40px;
	  border-bottom: 3px solid #24143D;
  }
  &__phone-title {
	  flex: 0 0 40%;
	font-size: 20px;
	font-weight: 500;
	color: $grey-purple;
	@include secondary_font();
  }
  &__phone-number {
	color: $white;
	flex: 0 0 60%;
	font-size: 3rem;
	font-weight: bold;
  }
  &__bottom {

  }
  &__leftside {
	position: relative;
	  
  }
  &__address {
	padding-top: 40px; 
	padding-bottom: 40px; 
	display: flex;
	align-items: center;
  }
  &__address-title {
	font-size: 20px;
	flex: 0 0 40%;
	font-weight: 500;
	color: $grey-purple;
	@include secondary_font();
  }
  &__address-text {
	font-size: 22px;
	font-weight: bold;
	flex: 0 0 60%;
	color: $white;
  }
  &__email {
	display: flex;
	align-items: center;
	
  }
  &__email-title {
	font-size: 20px;
	flex: 0 0 40%;
	font-weight: 500;
	color: $grey-purple;
	@include secondary_font();
  }
  &__email-text {
	font-size: 22px;
	font-weight: bold;
	flex: 0 0 60%;
	a {
	color: $blue;
	
}
  }
  &__qr {
	  img {
		  position: absolute;
		  right: 0;
		  top: 20%;
		  border-radius: 10px;
	  }
  }
  &__copyright {
	font-size: 15px;
	font-weight: 500;
	color: $dark-purple;
	@include secondary_font();
	padding-bottom: 80px;
  }
}

@media (max-width: 1200px) {

	.footer__content {
		flex-direction: column;
		align-items: flex-start;
	}

	.footer__links {
		// flex-direction: row;
		flex: 1 1 13%;
	}

	.footer__contacts {
		margin-top: 30px;
width: 100%;
	}
}

@media (max-width: 768px) {
	.footer__phone-title,
	.footer__address-title,
	.footer__address-text,
	.footer__email-title,
	.footer__email-text {
		font-size: 17px;
	}

	.footer__copyright {
		margin-top: 20px;
	font-size: 10px;
	}

	.footer__phone-number {
		font-size: 30px;
	}
}

@media (max-width: 600px) {
	.footer__services,
	.footer__phone,
	.footer__email,
	.footer__address {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__phone-title,
	.footer__email-title,
	.footer__address-title {
		margin-bottom: 30px;
	}
}

@media (max-width: 486px) {

	.footer__phone-title,
	.footer__email-title,
	.footer__address-title {
		margin-bottom: 20px;
	}

	.footer__qr {
		img {
			margin-top: 20px;
			position: relative;
		}
	}
}


.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(80.59deg, #190F29 5.71%, rgba(28, 15, 41, 1) 40.24%, rgba(41, 15, 38, 1) 65.36%, rgba(41, 21, 15, 1) 103.37%);
	opacity: 1;
	top: 0;
	left: 0;
	z-index: 19;
	display: flex;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.close-popup {
	position: absolute;
	opacity: 1;
	visibility: visible;
	align-self: flex-start;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	right: 45%;
	top: 20px;
	z-index: 15;
	

	.svg:hover {
		transition: all 0.4s ease 0s;
		transform: scale(1.4);
	}
}

.getintouch--popup {
	&__wrapper {
		display: flex;
	  	margin: 0 auto;
		  position: fixed;
		  top: 10%;
	left: 10%;
	//   padding: 80px 0px;
	}
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__form {
		flex: 0 0 550px;
		background: linear-gradient(26.57deg, rgba(231, 19, 138, 0.1) 0.3%, rgba(144, 42, 139, 0.1) 18.66%, rgba(101, 49, 141, 0.1) 41.93%, rgba(56, 96, 172, 0.1) 67.63%, rgba(42, 167, 223, 0.1) 100.08%);
		border: 4px solid rgba(69, 169, 226, 1);
		box-shadow: 14px 4px 13px 0px rgba(15, 51, 63, 0.26);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		width: 550px;
		height: 550px;
		border-radius: 500px;
		overflow: visible;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}
	.img-form {
position: absolute;
	}

	&__right {
		margin-left: 140px;
		margin-top: 20px;
	}
	&__title {
		width: 426px;
		color:$white;

	}
	&__subtitle {
		margin-top: 20px;
		@include secondary_font();
		font-size: 20px;
		color: $grey-purple;

		span {
			color: $blue;
		}
	}
 }

 @media (max-width: 1200px) {

	.getintouch--popup__content {
		flex-wrap: wrap;
		padding-left: 0px;
		align-items: flex-start;
	}

	.getintouch--popup__right {
		margin-top: 80px;
		margin-left: 0px;

	}

	.big-button {
		right: 0%;
		bottom: -100%;
	}

	.close-popup {
		right: 0;
	}
 }